html{
    padding: 0;
    margin: 0;
}

p{
    margin: 7px 0;
}

.products{
    width: 94%;
    padding: 20px 50px;
    margin: 50px auto;
    border-top: 1px solid #228B22;
    border-bottom: 1px solid #228B22;
}

.products__wrap{
    min-height: 520px;
    width: 85%;
    flex-grow: 2;
    flex-shrink: 1;
}

.products__sort{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.products-sort__button{
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.products-sort__button:hover{
    border: 1px solid green;
    transition: 0.3s;
}

.products__text{
    margin: 20px 0;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}

.product-image{
    max-width: 220px;
    width: 100%;
    height: 220px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.product-image:after{
    content: '';
    background: rgba(73, 102, 162, .5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transform: scale(.3);
    transition: .3s ease-in-out;
}

.products-text__element:hover .product-image:after{
    opacity: 1;
    transform: scale(1);
}

.products-text__element{
    width: calc(100%/3 - 10px);
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #a5cd9e;
    padding: 20px 8px;
    box-sizing: border-box;
    margin: 5px 5px 10px 5px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: opacity 0.8s ease-in-out;
    position: relative;
}

.products-text__element:hover{
    background: #faf4f7;
    cursor: pointer;
}

.product-loop-action{
    position: absolute;
    left: 50%;
    top: 35%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
}

.products-text__element:hover .product-loop-action{
    opacity: 1;
}

.loop-action__link{
    text-decoration: none;
    display: block;
    border: 1px solid white;
    white-space: nowrap;
    text-transform: uppercase;
    padding: .5em 1em;
    font-size: 14px;
    line-height: 1.6;
    outline: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    min-width: 160px;
    margin: 5px auto;
    transition: .3s ease-in-out;
}

.loop-action__link:after{
    content: '';
    position: absolute;
    left: -220%;
    top: -500%;
    width: 100%;
    height: 1000%;
    transform: rotate(45deg);
    background: white;
    z-index: -1;
    transition: .3s ease-in-out;
}

.loop-action__link:hover{
    color: black;
}

.loop-action__link:hover:after{
    left: 0;
}

.products-text__image{
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
}

.products-text__header{
    color: #cd645f;
    font-weight: 600;
}

.product-info{
    position: relative;
    text-align: center;
    width: 100%;
    margin: 10px 0 0 0;
}

.product-info:before{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: -5px;
    height: 2px;
    background: rgba(165, 205, 158, 0.4);
}

.navigation-elements{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 30px 0 0 0;
}

.pagination, .sorting{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.pagination__element{
    padding: 8px 12px;
    border: 1px solid #8cf056;
    cursor: pointer;
    margin-right: 20px;
}

.pagination__element:hover{
    opacity: 0.7;
    background: #30db30;
    transition: 0.3s;
}

.pagination__element.pagination__element-active{
    background: #228B22;
    color: #f1fff4;
    transition: 0.3s;
    pointer-events: none;
}

.sorting-wrap{
    display: flex;
    flex-direction: row;
}

.sorting__element{
    padding: 8px 12px;
    border: 1px solid #fd7400;
    cursor: pointer;
    margin-right: 12px;
}

.sorting__element:hover{
    background: #fdbe26;
    opacity: 0.7;
    transition: 0.3s;
}

.sorting__element.sorting__element-active{
    background: #ffb157;
    color: #f1fff4;
    pointer-events: none;
}

.show-pages{
    margin-right: 10px;
    font-weight: 400;
    line-height: 30px;
    display: block;
}

.main-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.main-content:after{
    content: '';
    background: rgb(109, 159, 170, 0.3) url("images/loading.gif") center center / 70px no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.main-content.main-content_loading:after{
    opacity: 1;
    visibility: visible;
    transform: 0.3s;
}

.filters__wrap{
    width: 15%;
    min-width: 150px;
    margin: 20px 20px 0 0;
    height: auto;
    flex-grow: 1;
    flex-shrink: 10;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #81bfcd;
    padding: 20px 12px;
    box-sizing: border-box;
    position: sticky;
    top: 10px;
}

.filters__header{
    color: #3f3f3f;
    font-weight: 700;
    font-size: 16px;
}

.filters__container{
    box-sizing: border-box;
    border-bottom: 2px solid rgba(140, 240, 86, 0.5);
    margin: 0 0 10px 0;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label{
    display: flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
}

.custom-checkbox:checked+label::before{
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.filters__container:last-child{
    border-bottom: 0;
}


.reset{
    width: 80%;
    display: block;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    line-height: 38px;
    min-width: 100px;
    outline: none;
    overflow: hidden;
    padding: 0;
    background: linear-gradient(0deg,#81bfcd, #b4cdc2);
    color: #101110;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.reset:before{
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #73cd27, #cd9e69);;
    width: 100%;
    top: 0;
    height: 100%;
    opacity: 0.3;
    left: -100%;
}

.reset:hover:before{
    left: 100%;
    transition: 1s;
}


@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}